html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: rgb(100,100,100);
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px solid #808080;
    padding: 10px;
}
p {
    padding-bottom: 10;
    margin: 0;
	text-align: justify;
}
#navbar {
	overflow: hidden;
	background-color:#333;
}
#navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size:17px;
}
#navbar a:hover{
	background-color: #ddd;
	color:black;
}
#navbar a.active{
	background-color:#4CAF50;
	color:white;
}
.sticky{
	position: fixed;
	top:0;
	left:10px;
	right:10px;
}
.sticky + .section{
	padding-top:60px;
}
.leftcoll{
	float: left;
}
.rightcoll{
	float: right;
}
.img-circle {
    border: 4px solid white;
    border-radius: 40%;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#list {
	text-align:left;
}
#header {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
	max-height: 400px;
	position:relative;
}
#header p{
    font-size: 25pt;
    color: #3b464c;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
	//border:2px solid gray;
	border-radius:10px;
	background-color: rgba(150,150,150,0.8);
	position: absolute;
	bottom:0;
	left:0;
	right:0;
}
.left{
	float:left;
}
.right{
	float:right;
}
table {
    width: 100%;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
.edu{
	text-align: center;
}
.edu{
	text-align: center;	
}
#list {
	text-align: center;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
